@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 96%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 96%;
  }
}

@media screen and (max-width: 767px) {
  h1,
  .btn {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  a,
  p,
  output,
  h3,
  .flexbox h3,
  .container p,
  .nav__link,
  .form__label,
  .form__item {
    font-size: 30px;
  }
  .zaglowek__img {
    width: 5%;
  }
  .nav__item {
    margin: 15px;
    width: 80%;
  }
  .form,
  .zaglowek,
  .opis,
  .content_main,
  .footer-width,
  .container {
    padding: 50px 20px 50px 20px;
    width: 96%;
  }
}
